<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>添加联系人</title>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/add.js}" ></script>
</head>

<body>
<div class="wrap">
    <div class="container">
        <!-- <div class="scaleX"> -->
        <h1 style=" margin: 0; text-align: center;
            text-shadow: 1px 1px 1px;font-size:26px">添加联系人<br></h1>
        <form th:action="@{/add}" method="post">
            <label><input id="name" placeholder="Name chester (Required)" required=true name="name"/></label>
            <label>
                <legend id="phoneExist">号码格式错误</legend>
                <input id="phone" placeholder="Phone 133 3333 3333" pattern=[0-9]{11} name="phone"/></label>
            <label><input id="email" placeholder="Email xxx@xx.com" name="email"
                          pattern="[0-9A-Za-zd]+([-_.][0-9A-Za-zd]+)*@([0-9A-Za-zd]+[-.])+[A-Za-zd]{2,5}"/></label>
            <label><input id="address" placeholder="Address xxxx" name="address"/></label>
            <label><input id="QQ" type="text" placeholder="qq" pattern=[0-9]* name="qq"/></label>
            <input type="submit" value="Add"/>
        </form>
        <!-- </div> -->
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>
</body>


</html>