<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>通讯录</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div class="wrap">
    <a href="./add" class="buttonClass">添加</a>
    <!--    <a href="#" class="buttonClass">编辑</a>-->
    <!--    <a href="#" class="buttonClass">删除</a>-->
    <a href="./loginout" class="buttonClass">退出</a>
    <table id="table-2">
        <thead>
        <!--        <th>Index</th>-->
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Address</th>
        <th>QQ</th>
        <th>Operation</th>
        </thead>

        <tbody>
        <!--        <tr>-->
        <!--&lt;!&ndash;            <td>0</td>&ndash;&gt;-->
        <!--            <td>Chester</td>-->
        <!--            <td>+86 111 1111 1111</td>-->
        <!--            <td>chester@gmail.com</td>-->
        <!--            <td>Beijing</td>-->
        <!--            <td>1111111</td>-->
        <!--        </tr>-->
        <tr th:each="contact,stat:${conList}">
            <!--            <td th:text="${stat.index}"></td>-->
            <td><span th:text="${contact.name}">  </span></td>
            <td><span th:text="${contact.phone}"> </span></td>
            <td><span th:text="${contact.email}">  </span></td>
            <td><span th:text="${contact.address}">  </span></td>
            <td><span th:text="${contact.qq}">  </span></td>
            <td><a type="button" class="btn"
                   th:href="@{/edit(listId=${contact.id})}">编辑</a>
                <a type="button" class="btn"
                   th:href="@{/delete(listId=${contact.id})}">删除</a>
                <!--            </td>-->
        </tr>
        </tbody>
    </table>
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


<!-- <div class="container">
    <input type="submit" value="Login" ,position: absolute, top: 10px, right: 20px />
</div> -->
</body>

</html>